.div-adminReports {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrapper-adminReports {
  flex-grow: 1;
  padding: 100px 200px;
}

.wrapper-adminReports button{
  cursor: pointer;
}
