.div-adminCreateReports {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}

.wrapper-adminCreateReports {
  flex-grow: 1;
  padding: 200px 200px;
}
.wizard-title p{
  display: inline-block;
  font-size: larger;
  margin-left: 5px;
}
.wizard-title{
  text-align: center;
  width: 500px;
  margin: 0 auto;
  margin-bottom: 50px;
  cursor: pointer;

}
