.div-adminCreateReports {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}

.wrapper-adminCreateReports {
  flex-grow: 1;
  padding: 200px 200px;
}
.wizard-title p{
  display: inline-block;
}
