
.wrapper-candidates{
    padding: 100px;
    min-height: 100vh;

}
.wrapper-candidates h2 {
    text-align: center;
    padding: 10px;
    font-weight: 200;
    font-size: 35px;
    margin-bottom: 50px;
}



.div-cardwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
}
.div-cardwrapper.rows{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 80%;
    margin: 0 auto;
}
.div-cardwrapper.rows .div-candidateCard{
    display: flex;
    flex-direction: row;
    height: 70px;
    width: 80%;
}
.div-cardwrapper.rows .div-candidateCard img{
    width: 50px;
}
.wrapper-candidates .div-searchInput {
    position: absolute;
    right: 160px;
    top: 190px;
}
.wrapper-candidates .div-searchInput img{
    left: 140px;
}