.div-header {
  position: fixed;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.321);
  color: yellow;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.div-header h1 {
  color: #ffdc60;
  font-weight: 100;
}
.div-nav{
  width: 20%;
  display: flex;
  /* justify-content: space-evenly; */
  font-size: larger;
  align-items: center;
}
.div-nav img{
  margin-left: 20px;
}
.div-nav p {
  color: white;
  text-decoration: none;
 
}
.div-header .homeIcon{
  width: 20px;
  
}
