textarea{
    background-color:  #2323237d;
    color: white;
    width: 50%;
    height: 250px;
}
.div-wizard-wrapper-third{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div-wizard-wrapper-third input{
    margin: 20px;
    padding: 5px;
    border-radius: 20px;
    width: 150px;
    text-align: center;

}
.div-wizard-wrapper-third select{
    margin: 20px;
    padding: 5px;
    border-radius: 20px;
    width: 150px;
    text-align: center;
}
.button-company.submit{
    position: absolute;
    right: 30%;
    bottom: 100px;

}
.button-company.back{
    position: absolute;
    left:30%;
    bottom: 100px; 
}