.div-wizard-second-card{
    background-color: #232323;
    /* text-align: center; */

    width: 60%;
    margin: 10px auto;
    padding: 5px;
  cursor: pointer;

}
.div-wizard-second-card p{
    margin-left: 30px;
}